.container{
    margin-bottom: 100px;
}
.navbar-collapse{
    display: flex;
    flex-direction: row-reverse;
}
.banner p{
    color: rgb(221, 219, 219);
}
.buy-now-button{
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
    padding: 7px 20px;
}
.bgi1{
    background-image: url(bg-1.png);
    background-repeat: no-repeat;
}
.bgi2{
    background-image: url(bg-2.png);
    background-repeat: no-repeat;
    
}
.card-text{
    color: rgb(120, 114, 114);

}

.card-body{
    text-align: center;
}
.card{
    margin-top: 30px;
    border: none;
    box-shadow: 5px 5px 10px rgb(227, 228, 230);
    border-radius: 10px;
}